body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background: url("./images/bg-desktop.svg"), hsl(257, 40%, 49%);
  background-blend-mode: unset;
  color: #fff;
}

@media (max-width: 375px) {
  body {
    background-image: url("./images/bg-mobile.svg");
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 */
